div {border-style: solid;
padding: 2%;
margin-bottom: 10px;
background: skyblue;
border-radius: 25px;
}

label{
    font-weight: bolder;
}
.deleteButtonClass{
    float: right;
}
.childDiv
{
    background: lightgray;
    padding-top: 1%;
}