.part1{
    position: absolute;
    background-color:black;
    color: aqua;
    padding-top: 10%;
    padding-left: 5%;
    height: 100%;
    width: 30%;
    font-weight: bold;
    box-sizing: border-box;
}
.part2{
    box-sizing: border-box;
    position: absolute;;
    background-color:skyblue;
    color:black;
    padding-top: 10%;
    padding-left: 5%;
    height: 100%;
    width: 70%;
    font-weight: bold;
    left: 30%;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}


.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}